{% macro render_layout(layout) -%}
    {% for section_name in layout %}
        {% if section_name == "contact" %}
            {{ render_contact() }}
        {% elif section_name == "education" %}
            {{ render_education() }}
        {% elif section_name == "skills" %}
            {{ render_skills() }}
        {% elif section_name == "languages" %}
            {{ render_languages() }}
        {% else %}
            {{ render_section(section_name) }}
        {% endif %}
    {% endfor %}
{%- endmacro %}

{% macro render_contact() -%}
    <address class="mt-10">
        {% for contact in info.contact %}
            {% if contact.include_in_resume %}
                <img class="icon" alt="{{ contact.title }}" src="{{ contact.image }}">
                {% if contact.url %}
                    <a href="{{ contact.url }}" target="_blank">{{ contact.full_text or contact.text }}</a>
                {% else %}
                    {{ contact.text }}
                {% endif %}
                <br>
            {% endif %}
        {% endfor %}
    </address>
{%- endmacro %}

{% macro render_education() -%}
    <section class="mt-10">
        <h2>Education</h2>
        {% for education in info.education %}
            <h3>{{ education.school }}</h3>
            <h4>{{ education.degree }}, {{ education.field }}</h4>
            <p>{{ education.start }} - {{ education.end }}</p>
            <ul>
                {% for li in education.details %}
                    <li class="light">{{ li }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </section>
{%- endmacro %}

{% macro render_skills() -%}
    <section class="mt-10 align-start">
        <h2>Skills</h2>
        {% for skills in info.resume_skills %}
            <h3>{{ skills.title }}</h3>
            {% for skill in skills.skills %}
                <span class="km-badge">
			{{ skill.name }}
			<span class="fw-normal">({{ skill.amount }})</span>
			</span>
            {% endfor %}
        {% endfor %}
    </section>
{%- endmacro %}

{% macro render_languages() -%}
    <section class="mt-10">
        <h2>Languages</h2>
        <div class="d-flex gap-20">
            {% for language in info.languages %}
                <div>
                    <h3>{{ language.language }}</h3>
                    <p>{{ language.proficiency }}</p>
                </div>
            {% endfor %}
        </div>
    </section>
{%- endmacro %}

{% macro render_section(section_name) -%}
    {% set section = info.sections[section_name] %}
    <section class="mt-10">
        <h2>{{ section.title }}</h2>
        {% for inner_item in section.content %} {{ render_item(inner_item) }} {% endfor %}
    </section>
{%- endmacro %}

{% macro render_item(item) -%}
    {% if "list" in item %}
        <ul>
            {% for li in item.list %}
                <li>{% for inner_item in li.content %}{{ render_item(inner_item) }}{% endfor %}</li>
            {% endfor %}
        </ul>
    {% elif "text" in item %}
        <p>
            {% if item.text is string %}
                {{ item.text }}
            {% else %}
                {% for inner_item in item.text.content %}{{ render_item(inner_item) }}{% endfor %}
            {% endif %}
        </p>
    {% elif "item" in item %}
        <div class="d-flex gap-10 align-items-center">
            {% if item.item.include_image_in_resume %}
                <img class="image" src="{{ item.item.image }}" alt="{{ item.item.title }}">
            {% endif %}
            <div>
                <h3>
                    {{ item.item.title }}
                </h3>
                {% if "cotitle" in item.item %}
                    <span class="cotitle">{{ item.item.cotitle }}</span>
                {% endif %}
            </div>
        </div>
        <div class="item-content">
            <p class="light">
                {% if item.item.include_url_in_resume %}
                    <a href="{{ item.item.url }}">{{ item.item.subtitles|map(attribute="text")|join(" · ") }}</a>
                {% else %}
                    {{ item.item.subtitles|map(attribute="text")|join(" · ") }}
                {% endif %}
            </p>
            {% for inner_item in item.item.content %} {{ render_item(inner_item) }} {% endfor %}
        </div>
    {% elif "badge" in item %}
        <span class="km-badge km-badge-{{ item.badge.style }}">{{ item.badge.text }}</span>
    {% elif "link" in item %}
        <a href="{{ item.link.url }}" target="_blank">{{ item.link.url }}</a>
    {% else %}
        {{ item }}
    {% endif %}
{%- endmacro %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ info.personal.first_name }} {{ info.personal.last_name }}</title>
    <meta
            name="description"
            content="{{ info.personal.first_name }} {{ info.personal.last_name }} | {{ info.personal.role }}"
    >
    <meta name="author" content="{{ info.personal.first_name }} {{ info.personal.last_name }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        @page {
            size: a4;
        }

        body {
            font-family: 'Poppins', sans-serif;
            font-size: 10pt;
            text-align: justify;
            line-height: 1.2;
            margin: 0;
            background-color: #F5EFE6;
        }

        h1 {
            font-size: 18pt;
            font-weight: 900;
            margin: 0;
            color: #F5EFE6;
        }

        h2 {
            font-size: 16pt;
            margin: 10px 0 10px 0;
            color: #522E24;
        }

        h3 {
            font-size: 11pt;
            margin: 0;
        }

        h4 {
            font-size: 9pt;
            font-weight: 600;
            margin: 2px 0 2px 0;
        }

        p {
            margin: 0;
        }

        ul {
            margin: 0;
            padding: 0 20px;
        }

        a {
            color: #2A769A;
        }

        address {
            font-style: normal;
        }

        .mt-10 {
            margin-top: 10px;
        }

        .align-start {
            text-align: start;
        }

        .icon {
            height: 1rem;
        }

        .image {
            width: 32px;
            height: 32px;
            border-radius: 1999px;
        }

        .d-flex {
            display: flex;
            align-items: stretch;
        }

        .gap-10 {
            gap: 10px;
        }

        .gap-20 {
            gap: 20px;
        }

        .align-items-center {
            align-items: center;
        }

        .wrapper {
            height: 100vh;
        }

        .sidebar {
            width: 33%;
            background-color: #522E24;
            color: #F1E4C3;
            padding: 15px;
        }

        .sidebar a {
            color: #8FBDD3;
        }

        .sidebar h2, .sidebar h3 {
            color: #F5EFE6;
        }

        .sidebar h2 {
            font-size: 14pt;
            margin: 5px 0 0 0;
        }

        .sidebar h3 {
            font-size: 11pt;
            margin: 5px 0 0 0;
        }

        .main {
            width: 67%;
            padding: 15px;
        }

        .km-badge {
            display: inline-block;
            margin: 2px 0;
            border-radius: 5px;
            padding: 2px 3px 0 3px;
            background-color: #522E24;
            color: #F5EFE6;
            font-size: 8pt;
            font-weight: 600;
            font-style: italic;
        }

        .sidebar .km-badge {
            background-color: #F5EFE6;
            color: #522E24;
        }


        .sidebar .subtitle {
            font-weight: 200;
            margin: 0;
            border: none;
            font-size: 12pt;
        }

        .fw-normal {
            font-weight: normal;
        }

        .light {
            font-size: 9pt;
            font-style: italic;
            opacity: .8;
        }

        .cotitle {
            font-weight: 200;
            font-size: 10pt;
        }

        .item-content {
            margin: 2px 14px;
            border-left: 4px dotted rgba(82, 46, 36, 0.3);
            padding-left: 14px;
        }

        .avatar {
            height: 100px;
            width: 100px;
            background-color: #F5EFE6;
            border-radius: 1999px;
        }
    </style>
</head>

<body>

<div class="wrapper d-flex">
    <div class="sidebar">
        <div class="d-flex gap-10 align-items-center">
            <img
                    class="avatar"
                    src="assets/avatar.png"
                    alt="{{ info.personal.first_name }} {{ info.personal.last_name }} Profile Picture"
            >
            <div>
                <h1>{{ info.personal.first_name }} {{ info.personal.last_name }}</h1>
                <h2 class="subtitle"> {{ info.personal.role }} </h2>
            </div>
        </div>
        {{ render_layout(info.layout.resume.sidebar) }}
    </div>

    <main class="main">
        {{ render_layout(info.layout.resume.main) }}
    </main>
</div>

</body>

</html>